<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>ROZWÓJ KRAJÓW ŚWIATA</title>
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- 100% width container with max-width set to grid-lg (960px) -->
    <div class="container grid-lg">
        <h1 class="mt-2">Witaj w EconWorldMap</h1>
        <h4>
            Aplikacja pomoże Ci znaleźć kraje, w których:<br>
            (1) obywatele najbardziej wzbogacili się (procentowo)<br>
            (2) obywatele najbardziej wzbogacili się (wartościowo)<br>
            (3) obywatele najbardziej zubożeli (procentowo)<br>
            (4) obywatele najbardziej zubożeli (wartościowo)<br>
            oraz:<br>
            (5) Kraje z największym wzrostem pozycji według współczynnika GNI<br>
            (6) Kraje z największą stratą pozycji według współczynnika GNI<br>
            Wybierz przedział czasu, który Cię interesuje:<br>
        </h4>
        <form action="/" method="POST" class="mt-2">
        <div class="column col-8 col-mx-auto">
            <div class="form-group">
                <label class="form-label" for="input-example-1">Początek zakresu(rok)</label>
                <input class="form-input" type="text" id="input-example-1" placeholder="Początek" name="start_year">
            </div>
            <div class="form-group">
                <label class="form-label" for="input-example-2">Koniec zakresu(rok)</label>
                <input class="form-input" type="text" id="input-example-2" placeholder="Koniec" name="end_year">
            </div>
        </div>
        <h4 class="mt-2">A nastepnie jedną z opcji wymienionych wyżej:</h4>
        <div class="form-group">
        <div class="column col-8 col-mx-auto">
            <select class="form-select" mode="mode">
                <option>(1)</option>
                <option>(2)</option>
                <option>(3)</option>
                <option>(4)</option>
                <option>(5)</option>
                <option>(6)</option>
            </select>
        </div>
        </div>
        <button type="submit" class="btn btn-primary input-group-btn">Wyślij</button>
        </form>
    </div>
</body>

</html>